body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,
h2 {
    margin-bottom: .5rem
}

h1,
h2 {
    margin-top: 0
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

b {
    font-weight: bolder
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

img {
    vertical-align: middle;
    border-style: none
}

input,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

input {
    overflow: visible
}

textarea {
    overflow: auto;
    resize: vertical
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

h1,
h2 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 2rem
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-5,
.col-7,
.col-12,
.col-md-2,
.col-md-3,
.col-md-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.col-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%
}

.col-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

.order-2 {
    order: 2
}

.order-3 {
    order: 3
}

@media (min-width:768px) {
    .col-md-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .order-md-2 {
        order: 2
    }

    .order-md-3 {
        order: 3
    }
}

.d-flex {
    display: flex !important
}

.flex-column {
    flex-direction: column !important
}

.flex-wrap {
    flex-wrap: wrap !important
}

.justify-content-end {
    justify-content: flex-end !important
}

.justify-content-between {
    justify-content: space-between !important
}

.align-items-center {
    align-items: center !important
}

@media (min-width:768px) {
    .flex-md-row {
        flex-direction: row !important
    }
}

.mb-0 {
    margin-bottom: 0 !important
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
}

.text-center {
    text-align: center !important
}

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto
}

.fa-envelope:before {
    content: "пѓ "
}

.fa-user:before {
    content: "пЂ‡"
}

.fas {
    font-family: Font Awesome\ 6 Free;
    font-weight: 900
}

* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    padding: 0;
    font-size: 18px;
    color: #333;
    line-height: 1.6
}

@media screen and (max-width:767px) {
    body {
        font-size: 16px
    }
}

img {
    max-width: 100%;
    height: auto
}

.container {
    max-width: 1450px
}

.header {
    background-color: #171717;
    box-shadow: .3px 4px 13.8px 2.2px rgba(20, 22, 25, .15);
    padding: 20px 0;
    position: relative;
    z-index: 2
}

@media screen and (max-width:767px) {
    .header {
        padding: 10px 0
    }
}

.header-menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 18px
}

@media screen and (max-width:767px) {
    .header-menu {
        font-size: 15px;
        margin-top: 10px;
        white-space: nowrap
    }
}

.header-menu a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 25px;
    border-radius: 25px;
    border: 2px solid transparent;
    color: #fff !important
}

@media screen and (max-width:991px) {
    .header-menu a {
        padding: 5px 15px
    }
}

@media screen and (max-width:767px) {
    .header-menu a {
        padding: 5px 8px
    }
}

.header-menu li {
    padding: 0 5px
}

@media screen and (max-width:767px) {
    .header-menu li {
        padding: 0
    }
}

.header-menu li:last-child a {
    border-radius: 10px;
    background-color: #009cdf;
    text-decoration: none !important
}

.footer {
    background-color: #171717;
    padding-top: 20px;
    color: #fff
}

.footer hr {
    border-color: #252525
}

.footer-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 15px 0;
    font-size: 18px
}

@media (max-width:767px) {
    .footer-menu {
        flex-direction: column;
        width: 100%
    }
}

.footer-menu li {
    margin-left: 20px
}

@media (max-width:767px) {
    .footer-menu li {
        margin: 0
    }
}

.footer-menu li:first-child {
    margin-left: 0
}

.footer-menu a {
    color: #fff !important;
    text-decoration: none
}

.footer-terms-menu {
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 16px;
    margin: 0
}

@media (max-width:767px) {
    .footer-terms-menu {
        width: 100%;
        margin-top: 20px
    }
}

.footer-terms-menu li {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #fff
}

@media (max-width:767px) {
    .footer-terms-menu li {
        margin-left: 10px;
        padding-left: 10px
    }
}

.footer-terms-menu li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0
}

.footer-terms-menu a {
    color: #fff !important;
    text-decoration: none
}

.input-wrapper {
    position: relative;
    margin-bottom: 15px
}

.contact_page .input-wrapper i {
    position: absolute;
    left: 10px;
    top: 18px
}

.contact_page .input-wrapper input {
    padding-left: 35px
}

.main-form-btn {
    box-shadow: .3px 4px 29px 0 rgba(50, 35, 65, .29);
    border-radius: 3px;
    background-color: #ef4444;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 53px;
    font-size: 20px;
    color: #fff !important;
    text-decoration: none !important;
    text-transform: uppercase;
    border: 0;
    width: 100%
}

@media screen and (max-width:767px) {
    .main-form-btn {
        min-height: 50px;
        font-size: 18px
    }
}

input,
textarea {
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    width: 100%;
    height: 48px;
    padding: 15px
}

textarea {
    height: 140px
}

.form-header-p {
    font-size: 18px
}

.language {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #000;
    font-size: 16px;
    z-index: 9999;
    align-self: center;
    margin-left: 0
}

@media (max-width:767px) {
    .language {
        font-size: 16px;
        margin-right: 15px
    }
}

.language img {
    margin-right: 10px;
    width: 21px
}

.language span {
    display: flex;
    align-items: center;
    padding: 3px 5px;
    background: transparent;
    color: #fff
}

.language span i {
    margin-left: 5px;
    vertical-align: middle;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #fff
}

.language-list {
    list-style: none;
    padding: 0 5px;
    margin-left: 0;
    position: absolute;
    top: 100%;
    right: 0;
    text-align: center;
    min-width: 100%;
    display: none;
    background-color: #322b7c;
    border: 1px solid
}

.language-list a {
    color: #fff;
    display: flex
}

.absolute-icon {
    position: absolute;
    top: 35%;
    left: 8px;
}

.icon-input {
    padding-left: 30px;
}